<h3> Students Form </h3>

<%= form_for(@student) do |f| %>
  <label>Student First Name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Student Last Name:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
